*{
	--main-width: 1200px;
}

@font-face {
    font-family: 'Roboto';
    src: url(Roboto-Medium.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 6.25%;
}

body {
	color: #ffffff;
    padding: 0;
	font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
	font-size: 24px;
}

main{
	background-color: #7f00007f;
	width: var(--main-width);
	aspect-ratio: 2 / 1;

	display: flex;

	.button-nav{
		position: absolute;
		width: 50px;
		height: 50px;
		background-color: #d9d9d9;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		border: none;
		cursor: pointer;
		padding: 5px;

		span{
			width: 80%;
   			height: 5px;
    		background-color: #7f0000;
    		border-radius: 5px;
		}
		z-index: 1;


	}

	nav{
		visibility: hidden;
		position: absolute;
		width: calc(var(--main-width) / 4);

		> div{
			display: flex;
			align-items: center;
			aspect-ratio: 6 / 1;
			background-color: #7f0000;
			justify-content: center;
			> h2{
				font-size: 26px;
			}
		}
		
		button{
			width: calc(var(--main-width) / 4);
			aspect-ratio: 6 / 1;
			background-color: #d9d9d9;
			border-width: 1px;
			border-color: #000000;
			border-style: solid;
			font-size: 24px;
			text-align: left;
			padding-inline: 10px;

			&:hover{
				background-color: #7f0000;
				color: #ffffff;
			}
		}

		button + button {
			border-top: 0;
		}
	}

	.menu{
		width: calc(var(--main-width) / 4);
		aspect-ratio: 2 / 1;
		float: left;

		> .title{
			display: flex;
			align-items: center;
			width: 100%;
			aspect-ratio: 6 / 1;
			background-color: #7f0000;
			justify-content: center;
			> h2{
				font-size: 26px;
			}
		}

		> .table {
			display: flex;
			align-items: start;
			width: 100%;
			height: 490px;
			color: #000000;
			> table{
				width: 100%;
				background-color: #d9d9d9;
				margin: 5px;
				border-collapse: collapse;

				> tbody{

					 tr{

						height: calc(var(--main-width) / 24);

						&:hover{
							background-color: #7f0000cf;
						}
	
						 td{
							padding-inline: 10px;
							height: 50px;
						}
					}
				}
			}
		}

		> .options{
			width: 100%;
			height: 490px;
		}

		.buttons{
			display: flex;
			justify-content: space-evenly;
			> button{
				width: 130px;
				height: 50px;
				border: 0;
				background-color: #7f0000;
				color: #ffffff;
				font-size: 26px;
				cursor: pointer;
				&:hover{
					background-color: #7f0000cf;
				}
			}

			> button:only-child {
				margin-left: auto;
				margin-right: 10px;
			  }
		}
	}
}

.tiles{
	order: 1;
}

.links{
	order: 2;
}

.tile-options{
	order: 10;
	visibility: hidden;

}

.link-options{
	visibility: initial;
	order: 3;
}

.design-options{
	visibility: initial;
	order: 4;
	font-size: 16px;
}


.input-text{
	width: 100%; 
	display: flex;
	flex-direction: column; 
	padding: 5px;
	> label{
		display: inline-block;
		font-size: 16px;
	}
	> input {
		height: 30px;
		box-sizing: border-box; 
		padding-inline: 5px;
		border: 0;
		font-family: 'Roboto', sans-serif;
		color: #202020;
		box-sizing: border-box;
  		outline: none;
	}
}

.input-dropdown{
	width: 100%; 
	display: flex;
	flex-direction: column; 
	padding: 5px;

	> label{
		font-size: 16px;
	}
	> select{
		height: 30px;
		box-sizing: border-box; 
		background-color: #ffffff;
		border: none;
		padding-inline: 5px;
		font-family: 'Roboto', sans-serif;
		color: #202020;
		
	
	}
}

.input-file{
	width: 100%; 
	display: flex;
	flex-direction: column; 
	padding: 5px;

	> label{
		font-size: 16px;
	}

	> div{
		display: flex;
		align-items: center; 
		width: 100%;
		position: relative;

		input{
			width: 90%;
			font-family: 'Roboto', sans-serif;
			color: #202020;
			padding-inline: 5px;
			border: none;
			height: 30px;
			box-sizing: border-box;
			outline: none;
		}
		button{
			width: 30px;
			height: 30px;
			background-color: #7f0000;
			border: 0;
			color: #ffffff;
			cursor: pointer;
			&:hover{
				background-color: #7f0000cf;
			}
		}
	}
}

.color-picker{
	display: flex;
	height: 30px;
	align-items: center;
	margin: 5px;
	> label{
		width: 90%;
		font-size: 16px;
	}
	> button{
		width: 30px;
		height: 30px;
		border-color: #000000;
		border-style: solid;
		border-width: 1px;
		background-color: #ffffff;
	}
}

.input-width{
	display: flex;
	height: 30px;
	align-items: center;
	margin: 5px;

	label:first-child {
		width: 210px;
	}

	> input {
		width: 45px;
		height: 30px;
		font-family: 'Roboto', sans-serif;
		color: #202020;
		padding-inline: 5px;
		border:0;
		text-align: center;
		outline: none;
		margin-inline: 5px;
	}
}


.tile-visualization{
	display: flex;
	width: 100%;
	aspect-ratio: 1 / 1;
	justify-content: center;

	> .tile{
		width: 200px;
		height: 200px;
		background-color: blue;
		border-radius: 10px;

		> a {
			div:first-child {
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 10px 10px 0 0;
				width: 200px;
				height: 150px;
				padding: 10;
				background-color: pink;
				> img {
					max-width: 100%;
					max-height: 100%;
					object-fit: contain;
				}
			}
		}

		&:hover {
			> a{
				div:first-child {
					transition: background-color .2s ease-out;
					background-color: red;
				}
			}
		}

		> div {
			height: 50px;
			.link {
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 0 0 0 10px;
				width: 150px;
				aspect-ratio: 1.5 / 0.5;
				background-color: aqua;
				float: left;
			}
			.button {
				border-radius: 0 0 10px 0;
				width: 50px;
				aspect-ratio: 1;
				background-color: brown;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				> i{
					border-style: solid;
					border-color: chocolate;
					border-width: 0 5px 5px 0;
					display: inline-block;
					padding:  6px;
					transform: rotate(45deg);
					position: relative;
					top: -2px;
				}
			}
			.dropdown {
				visibility: hidden;
				opacity: 0;
				box-shadow: 0 2rem 1rem -1rem var(--tile-shadow-color-1), 0 1rem 1rem 0 var(--tile-shadow-color-2), 0 1rem 3rem 0 var(--tile-shadow-color-3);
				position: relative;
				top: -50px;
				border-radius: 0 0 calc(200 / 20) calc(200 / 20);
				> ul {
					> li {
						width: 200px;
						height: 0;
						position: relative;
						background-color: darkorchid;
						transition: height .3s ease-out;
						display: flex;
						> a {
							width: 200px;
							aspect-ratio: 1 / 4;
							display: flex;
							justify-content: center;
							align-items: center;
						}
					}
					> li:first-child {
						height: 50px;
					}
					> li:last-of-type{
						border-radius: 0 0 10px 10px;
					}
				}
			}
			&:hover {
				.dropdown {
					opacity: 1;
					visibility: visible;
					box-shadow: 0 0 5rem var(--tile-shadow-color-hover);
					transition: box-shadow .2s ease-out;
					> ul > li {
						height: 50px;
					}
				}
			}
		}

		


	}

}




a:link,
a:visited,
a:active {
    color: #ffffff;
    text-decoration: none;
}


.dropdown > ul > li :hover {
	background-color: lightcoral;
}

.dropdown > ul > li:last-of-type :hover {
	border-radius: 0 0 10px 10px;
}


